.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(173, 173, 173);
  }
  
  h1 {
    text-align: center;
    text-shadow: #d6d6d6 2px 2px;
  }

  h2{
    text-align: center;
    text-shadow: #d6d6d6 2px 2px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    font-family: cursive;
  }

  button {
    padding: 10px 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-family: cursive;
    font-size: larger;
  }
  
  .completed {
    text-decoration: line-through;
  }